.blocks_wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #EAECEF;
    border-radius: 20px;
}
.weather_discription {
    font-weight: 400;
    color:rgba(135, 137, 140, 0.77)
}

.weather_block {
    text-align: left;
}